# <---- 확장자 없는 파일 무시

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# 확장자 없는 파일 무시 ---->

# <---- boj
*.bin
boj/**/*.md
*.prob
*.exe
*.out
# boj ---->

# git ignore
*/.DS_Store
*.swp
*.DS_Store
needRefactoring/
